.intro,
.player,
#player-name-error,
.game,
.game-over,
.notifications,
#reset {
    display: none;
}

.intro.active,
.player.active,
#player-name-error.active,
.game.active,
.game-over.active,
.notifications.active,
#reset.active {
    display: block;
}

#player-name-error {
    color: tomato;
}

.separator::before {
    content: ' / ';
}